[submodule "src/3rd_party/qbreakpad"]
	path = src/3rd_party/qbreakpad
	url = https://github.com/story-apps/qBreakpad.git
[submodule "src/3rd_party/pdfhummus"]
	path = src/3rd_party/pdfhummus
	url = https://github.com/story-apps/PDF-Writer.git
	branch = qmake-build
[submodule "src/3rd_party/pdftextextraction"]
	path = src/3rd_party/pdftextextraction
	url = https://github.com/story-apps/pdf-text-extraction.git
	branch = qmake-build
[submodule "src/cloud"]
	path = src/cloud
	url = git@github.com:story-apps/starcloud
[submodule "src/core/management_layer/plugins/character_information"]
	path = src/core/management_layer/plugins/character_information
	url = git@github.com:story-apps/starc-character-information-plugin.git
[submodule "src/core/management_layer/plugins/location_information"]
	path = src/core/management_layer/plugins/location_information
	url = git@github.com:story-apps/starc-location-information-plugin.git
[submodule "src/core/management_layer/plugins/screenplay_statistics"]
	path = src/core/management_layer/plugins/screenplay_statistics
	url = git@github.com:story-apps/starc-screenplay-statistics-plugin.git
[submodule "src/core/management_layer/plugins/comic_book_statistics"]
	path = src/core/management_layer/plugins/comic_book_statistics
	url = git@github.com:story-apps/starc-comic-book-statistics-plugin.git
[submodule "src/core/management_layer/plugins/audioplay_statistics"]
	path = src/core/management_layer/plugins/audioplay_statistics
	url = git@github.com:story-apps/starc-audioplay-statistics-plugin.git
[submodule "src/core/management_layer/plugins/characters_relations"]
	path = src/core/management_layer/plugins/characters_relations
	url = git@github.com:story-apps/starc-characters-relations-plugin.git
[submodule "src/core/management_layer/plugins/locations_map"]
	path = src/core/management_layer/plugins/locations_map
    url = git@github.com:story-apps/starc-locations-map-plugin.git
[submodule "src/core/management_layer/plugins/stageplay_statistics"]
	path = src/core/management_layer/plugins/stageplay_statistics
	url = git@github.com:story-apps/starc-stageplay-statistics-plugin.git
[submodule "src/core/management_layer/plugins/project_collaborators"]
	path = src/core/management_layer/plugins/project_collaborators
	url = git@github.com:story-apps/starc-project-collaborators-plugin.git
[submodule "src/core/management_layer/plugins/screenplay_cards"]
	path = src/core/management_layer/plugins/screenplay_cards
	url = git@github.com:story-apps/starc-screenplay-cards-plugin.git
[submodule "src/core/management_layer/plugins/images_gallery"]
	path = src/core/management_layer/plugins/images_gallery
	url = git@github.com:story-apps/starc-images-gallery-plugin.git
[submodule "src/core/management_layer/plugins/character_dialogues"]
	path = src/core/management_layer/plugins/character_dialogues
	url = git@github.com:story-apps/starc-character-dialogues-plugin.git
[submodule "src/core/management_layer/plugins/worlds_map"]
    path = src/core/management_layer/plugins/worlds_map
    url = git@github.com:story-apps/starc-worlds-map-plugin.git
[submodule "src/core/management_layer/plugins/world_information"]
    path = src/core/management_layer/plugins/world_information
    url = git@github.com:story-apps/starc-world-information-plugin.git
[submodule "src/core/management_layer/plugins/novel_cards"]
	path = src/core/management_layer/plugins/novel_cards
	url = git@github.com:story-apps/starc-novel-cards-plugin.git 
[submodule "src/core/management_layer/plugins/novel_statistics"]
    path = src/core/management_layer/plugins/novel_statistics
    url = git@github.com:story-apps/starc-novel-statistics-plugin.git
[submodule "src/core/management_layer/plugins/screenplay_breakdown"]
    path = src/core/management_layer/plugins/screenplay_breakdown
    url = git@github.com:story-apps/starc-screenplay-breakdown-plugin.git 
[submodule "src/core/management_layer/plugins/screenplay_breakdown_structure"]
    path = src/core/management_layer/plugins/screenplay_breakdown_structure
    url = git@github.com:story-apps/starc-screenplay-breakdown-structure-plugin.git
[submodule "src/core/management_layer/plugins/mind_map"]
    path = src/core/management_layer/plugins/mind_map
    url = git@github.com:story-apps/starc-mind-map-plugin.git
[submodule "src/core/management_layer/plugins/location_scenes"]
    path = src/core/management_layer/plugins/location_scenes
    url = git@github.com:story-apps/starc-location-scenes-plugin.git
[submodule "src/core/management_layer/plugins/screenplay_timeline"]
    path = src/core/management_layer/plugins/screenplay_timeline
    url = git@github.com:story-apps/starc-screenplay-timeline-plugin.git
[submodule "src/core/management_layer/plugins/novel_timeline"]
    path = src/core/management_layer/plugins/novel_timeline
    url = git@github.com:story-apps/starc-novel-timeline-plugin.git
