[submodule "src/cloud"]
	path = src/cloud
	url = git@github.com:story-apps/starcloud
[submodule "src/core/management_layer/plugins/character_information"]
	path = src/core/management_layer/plugins/character_information
	url = git@github.com:story-apps/starc-character-information-plugin.git
[submodule "src/core/management_layer/plugins/location_information"]
	path = src/core/management_layer/plugins/location_information
	url = git@github.com:story-apps/starc-location-information-plugin.git
[submodule "src/core/management_layer/plugins/screenplay_statistics"]
	path = src/core/management_layer/plugins/screenplay_statistics
	url = git@github.com:story-apps/starc-screenplay-statistics-plugin.git
[submodule "src/core/management_layer/plugins/comic_book_statistics"]
	path = src/core/management_layer/plugins/comic_book_statistics
	url = git@github.com:story-apps/starc-comic-book-statistics-plugin.git
[submodule "src/core/management_layer/plugins/characters_relations"]
	path = src/core/management_layer/plugins/characters_relations
	url = git@github.com:story-apps/starc-characters-relations-plugin.git
[submodule "src/3rd_party/qbreakpad"]
	path = src/3rd_party/qbreakpad
	url = git@github.com:buzzySmile/qBreakpad.git          
[submodule "src/core/management_layer/plugins/locations_map"]
	path = src/core/management_layer/plugins/locations_map
	url = git@github.com:story-apps/starc-locations-map-plugin.git
