name: ClangFormat

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch: {}

jobs:
  check:
    name: Check code formatting
    runs-on: ubuntu-latest
    steps:                            
    - name: Checkout Sources for push event
      if: ${{ github.event_name == 'push' }}
      uses: actions/checkout@master
      with:
        token: ${{ secrets.ACTION_RUNNER }}
        submodules: recursive

    - name: Checkout Sources for pull request event
      if: ${{ github.event_name == 'pull_request' }}
      uses: actions/checkout@master
      
    - name: Install dependencies
      shell: bash
      run: |
        pip install setuptools

    - name: Running clang-format
      uses: DoozyX/clang-format-lint-action@v0.12
      with:
        source: 'src'
        exclude: 'src/3rd_party src/cloud src/corelib/utils/3rd_party'
        extensions: 'h,hpp,c,cpp'
        clangFormatVersion: 12
